{% extends 'base.html.twig' %}

{% block title %}Edit Room{% endblock %}

{% block body %}
    <h1>Edit Room</h1>

    {{ include('room/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_room_index') }}" class="btn btn-outline-secondary"><i class="fa-solid fa-arrow-left"></i> Retour &agrave; la liste</a>

    {{ include('room/_delete_form.html.twig') }}
{% endblock %}
