{% extends 'base.html.twig' %}

{% block title %}New UE{% endblock %}

{% block body %}
    <h1>Create new UE</h1>

    {{ include('ue/_form.html.twig') }}

    <a href="{{ path('app_ue_index') }}" class="mt-3 btn btn-outline-secondary"><i class="fa-solid fa-arrow-left"></i> Back to list</a>
{% endblock %}
