<form method="post" action="{{ path('app_general_constraints_delete', {'id': general_constraint.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ general_constraint.id) }}">
    <button class="btn btn-outline-danger">Delete <i class="fa-solid fa-trash"></i></button>
</form>
