{% extends 'base.html.twig' %}

{% block title %}New GeneralConstraints{% endblock %}

{% block body %}
    <h1>Create new GeneralConstraints</h1>

    {{ include('general_constraints/_form.html.twig') }}

    <a href="{{ path('app_general_constraints_index') }}">back to list</a>
{% endblock %}
