{% extends 'base.html.twig' %}

{% block title %}Hello PlanningController!{% endblock %}

{% block body %}
    <h1>Planning index</h1>

    <section class="table-responsive">
        {{ planning }}
    </section>
{% endblock %}
